# packages in environment at /home/fltr/anaconda3/envs/qchem:
#
# Name                    Version                   Build  Channel
anyio                     2.0.2            py37h89c1867_3    conda-forge
argon2-cffi               20.1.0           py37h4abf009_2    conda-forge
async_generator           1.10                       py_0    conda-forge
attrs                     20.3.0             pyhd3deb0d_0    conda-forge
babel                     2.9.0              pyhd3deb0d_0    conda-forge
backcall                  0.2.0              pyh9f0ad1d_0    conda-forge
backports                 1.0                        py_2    conda-forge
backports.functools_lru_cache 1.6.1                      py_0    conda-forge
blas                      1.0                         mkl    anaconda
bleach                    3.2.1              pyh9f0ad1d_0    conda-forge
brotlipy                  0.7.0           py37hb5d75c8_1001    conda-forge
bzip2                     1.0.8                h7b6447c_0  
ca-certificates           2020.12.8            h06a4308_0  
cairo                     1.14.12              h8948797_3  
certifi                   2020.12.5        py37h06a4308_0  
cffi                      1.14.4           py37h261ae71_0  
chardet                   4.0.0            py37h89c1867_0    conda-forge
cryptography              3.3.1            py37h3c74f83_0  
cudatoolkit               10.1.243             h6bb024c_0    anaconda
cycler                    0.10.0                     py_2    conda-forge
dbus                      1.13.6               he372182_0    conda-forge
decorator                 4.4.2                      py_0    conda-forge
defusedxml                0.6.0                      py_0    conda-forge
entrypoints               0.3             pyhd8ed1ab_1003    conda-forge
expat                     2.2.10               he6710b0_2    anaconda
fontconfig                2.13.1            he4413a7_1000    conda-forge
freetype                  2.10.4               h5ab3b9f_0  
git                       2.23.0          pl526hacde149_0    anaconda
glib                      2.66.1               h92f7085_0  
gst-plugins-base          1.14.0               hbbd80ab_1  
gstreamer                 1.14.0               hb31296c_0  
h5py                      2.10.0           py37hd6299e0_1    anaconda
hdf5                      1.10.6               hb1b8bf9_0    anaconda
icu                       58.2              hf484d3e_1000    conda-forge
idna                      2.10               pyh9f0ad1d_0    conda-forge
importlib-metadata        3.3.0            py37h89c1867_2    conda-forge
importlib_metadata        3.3.0                hd8ed1ab_2    conda-forge
intel-openmp              2020.2                      254    anaconda
ipykernel                 5.4.2            py37h888b3d9_0    conda-forge
ipython                   7.19.0           py37h888b3d9_0    conda-forge
ipython_genutils          0.2.0                      py_1    conda-forge
jedi                      0.18.0           py37h89c1867_1    conda-forge
jinja2                    2.11.2             pyh9f0ad1d_0    conda-forge
joblib                    0.17.0                     py_0    anaconda
jpeg                      9b                   h024ee3a_2  
json5                     0.9.5              pyh9f0ad1d_0    conda-forge
jsonschema                3.2.0                      py_2    conda-forge
jupyter_client            6.1.7                      py_0    conda-forge
jupyter_core              4.7.0            py37h89c1867_0    conda-forge
jupyter_server            1.1.3            py37h89c1867_0    conda-forge
jupyterlab                3.0.0              pyhd8ed1ab_0    conda-forge
jupyterlab_pygments       0.1.2              pyh9f0ad1d_0    conda-forge
jupyterlab_server         2.0.0              pyhd8ed1ab_0    conda-forge
kiwisolver                1.3.1            py37hc928c03_0    conda-forge
krb5                      1.18.2               h173b8e3_0    anaconda
lcms2                     2.11                 h396b838_0  
ld_impl_linux-64          2.33.1               h53a641e_7    anaconda
libboost                  1.73.0              hf484d3e_11  
libcurl                   7.71.1               h20c2e04_1    anaconda
libedit                   3.1.20191231         h14c3975_1    anaconda
libffi                    3.3                  he6710b0_2    anaconda
libgcc-ng                 9.1.0                hdf63c60_0    anaconda
libgfortran-ng            7.3.0                hdf63c60_0    anaconda
libpng                    1.6.37               hbc83047_0  
libsodium                 1.0.18               h36c2ea0_1    conda-forge
libssh2                   1.9.0                h1ba5d50_1    anaconda
libstdcxx-ng              9.1.0                hdf63c60_0    anaconda
libtiff                   4.1.0                h2733197_1  
libuuid                   2.32.1            h14c3975_1000    conda-forge
libxcb                    1.13              h14c3975_1002    conda-forge
libxml2                   2.9.10               hb55368b_3  
lz4-c                     1.9.2                heb0550a_3  
markupsafe                1.1.1            py37hb5d75c8_2    conda-forge
matplotlib                3.3.3            py37h89c1867_0    conda-forge
matplotlib-base           3.3.3            py37h4f6019d_0    conda-forge
mistune                   0.8.4           py37h4abf009_1002    conda-forge
mkl                       2019.4                      243    anaconda
mkl-service               2.3.0            py37he904b0f_0    anaconda
mkl_fft                   1.2.0            py37h23d657b_0    anaconda
mkl_random                1.0.4            py37hd81dba3_0  
nbclassic                 0.2.5              pyhd8ed1ab_0    conda-forge
nbclient                  0.5.1                      py_0    conda-forge
nbconvert                 6.0.7            py37h89c1867_3    conda-forge
nbformat                  5.0.8                      py_0    conda-forge
ncurses                   6.2                  he6710b0_1    anaconda
nest-asyncio              1.4.3              pyhd8ed1ab_0    conda-forge
ninja                     1.10.2           py37hff7bd54_0  
notebook                  6.1.6            py37h89c1867_0    conda-forge
numpy                     1.19.1           py37hbc911f0_0    anaconda
numpy-base                1.19.1           py37hfa32c7d_0    anaconda
olefile                   0.46                     py37_0  
openssl                   1.1.1i               h27cfd23_0  
packaging                 20.8               pyhd3deb0d_0    conda-forge
pandas                    1.1.3            py37he6710b0_0    anaconda
pandoc                    2.11.3.2             h7f98852_0    conda-forge
pandocfilters             1.4.2                      py_1    conda-forge
parso                     0.8.1              pyhd8ed1ab_0    conda-forge
pcre                      8.44                 he6710b0_0    anaconda
perl                      5.26.2               h14c3975_0    anaconda
pexpect                   4.8.0              pyh9f0ad1d_2    conda-forge
pickleshare               0.7.5                   py_1003    conda-forge
pillow                    8.0.1            py37he98fc37_0  
pip                       20.2.4                   py37_0    anaconda
pixman                    0.40.0               h7b6447c_0  
prometheus_client         0.9.0              pyhd3deb0d_0    conda-forge
prompt-toolkit            3.0.8              pyha770c72_0    conda-forge
pthread-stubs             0.4               h36c2ea0_1001    conda-forge
ptyprocess                0.7.0              pyhd3deb0d_0    conda-forge
py-boost                  1.73.0          py37h04863e7_11  
pycparser                 2.20               pyh9f0ad1d_2    conda-forge
pygments                  2.7.3              pyhd8ed1ab_0    conda-forge
pyopenssl                 20.0.1             pyhd8ed1ab_0    conda-forge
pyparsing                 2.4.7              pyh9f0ad1d_0    conda-forge
pyqt                      5.9.2            py37hcca6a23_4    conda-forge
pyrsistent                0.17.3           py37h4abf009_1    conda-forge
pysocks                   1.7.1            py37he5f6b98_2    conda-forge
python                    3.7.9                h7579374_0    anaconda
python-dateutil           2.8.1                      py_0    anaconda
python_abi                3.7                     1_cp37m    conda-forge
pytorch                   1.6.0           py3.7_cuda10.1.243_cudnn7.6.3_0    pytorch
pytz                      2020.1                     py_0    anaconda
pyzmq                     20.0.0           py37h5a562af_1    conda-forge
qt                        5.9.7                h5867ecd_1  
rdkit                     2020.09.1.0      py37hd50e099_1    rdkit
readline                  8.0                  h7b6447c_0    anaconda
requests                  2.25.1             pyhd3deb0d_0    conda-forge
scikit-learn              0.23.2           py37h0573a6f_0    anaconda
scipy                     1.5.2            py37h0b6359f_0    anaconda
send2trash                1.5.0                      py_0    conda-forge
setuptools                50.3.0           py37hb0f4dca_1    anaconda
sip                       4.19.8           py37hf484d3e_0  
six                       1.15.0                     py_0    anaconda
sniffio                   1.2.0            py37h89c1867_0    conda-forge
sqlite                    3.33.0               h62c20be_0    anaconda
terminado                 0.9.1            py37h89c1867_1    conda-forge
testpath                  0.4.4                      py_0    conda-forge
threadpoolctl             2.1.0              pyh5ca1d4c_0    anaconda
tk                        8.6.10               hbc83047_0    anaconda
torchvision               0.7.0                py37_cu101    pytorch
tornado                   6.1              py37h4abf009_0    conda-forge
traitlets                 5.0.5                      py_0    conda-forge
typing_extensions         3.7.4.3                    py_0    conda-forge
urllib3                   1.26.2             pyhd8ed1ab_0    conda-forge
wcwidth                   0.2.5              pyh9f0ad1d_2    conda-forge
webencodings              0.5.1                      py_1    conda-forge
wheel                     0.35.1                     py_0    anaconda
xorg-libxau               1.0.9                h14c3975_0    conda-forge
xorg-libxdmcp             1.1.3                h516909a_0    conda-forge
xz                        5.2.5                h7b6447c_0    anaconda
zeromq                    4.3.3                h58526e2_3    conda-forge
zipp                      3.4.0                      py_0    conda-forge
zlib                      1.2.11               h7b6447c_3    anaconda
zstd                      1.4.5                h9ceee32_0  
